# SPDX-FileCopyrightText: 2023-2024 Jason Pena <jasonpena@awkless.com>
# SPDX-License-Identifier: MIT

[submodule ".local/share/polyglot"]
	path = .local/share/polyglot
	url = https://github.com/agkozak/polyglot.git
[submodule ".config/st"]
	path = .config/st
	url = https://github.com/rcdevtools/st.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://github.com/rcdevtools/dmenu.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/rcdevtools/dwm.git
[submodule ".config/slock"]
	path = .config/slock
	url = https://github.com/rcdevtools/slock.git
